<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhs.commonhelper" >

    <!-- 写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读取设备外部存储空间-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
